<h1>Bienvenido, <%= @nombre %></h1>
<p>Ahora es <%= formato_tiempo(@tiempo) %></p>
<p>Esta página ha sido vista <%= @visualizaciones %> veces</p>


<p><%= link_to 'Salir', bienvenido_adios_path %></p>